:root{
  /* colors */
  --oxford_blue:        #001427;
  --hookers_green:      #708D81;
  --jasmine:            #F4D58D;
  --engineering_orange: #BF0603;
  --dark_red:           #8D0801;
}
.fakeimg {
    height: 200px;
    background: #aaa;
  }
body {
  background: var(--jasmine);
}
.navbar {
  background: var(--engineering_orange);
}